body{
    background-color: lightblue;
}
.container{
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box{
    width: 24.5%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.container .box .img{
    width: 100%;
    height: 65%;
    background-color: white;
}
.container .box .des{
    width: 100%;
    height: 35%;
    background-color: rgb(0, 65, 0);
    padding: 0 10px;
    box-sizing: border-box;
}
.container .box .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container .box .des p{
    font-size: 15.5px;
    color: white;
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container{
        width: 95%;
        height: 480px;
    }
    .container .box{
        flex-direction: column-reverse;
    }
    .container .box .img{
        width: 100%;
        height: 60%;
    }
    .container .box .des{
        width: 100%;
        height: 40%;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .container{
        width: 100%;
        height: 850px;
        flex-wrap: wrap;
    }
    .container .box{
        width: 49.5%;
        height: 50%;
        margin-bottom: 10px;
    }
    .container .box .img{
        width: 100%;
        height: 70%;
    }
    .container .box .des{
        width: 100%;
        height: 30%;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.container{
        width: 100%;
        height: 600px;
        flex-wrap: wrap;
    }
    .container .box {
        width: 49.5%;
        height: 50%;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .container .box .img{
        width: 50%;
        height: 100%;
    }
    .container .box .des{
        width: 50%;
        height: 100%;
    }
    .container .box .des p{
        font-size: 14px;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container{
        width: 100%;
        height: 1600px;
        flex-wrap: wrap;
    }

    .container .box{
        width: 100%;
        height: 24.5%;
    }
    .container .box .img{
        height: 60%;
    }
    .container .box .des{
        height: 40%;
    }
}